/* */
*{
	font-family:"宋体";
}
.index_tb {
    margin-bottom: 20px;
}
.index_tb td {
    vertical-align: top;
}
.w270 {
    width:270px;
}
.one{
	margin-top:-5px;
}
.one, .two{ width:1024px; height:270px;}
.left{ float:left; border:1px solid #999; border-radius:5px;}
.left_title{ height:25px; background:url(../img/titlebg.png) repeat-x; 
            border-top-left-radius:5px; border-top-right-radius:5px;}
.left_content{ width:500px; /* background:url(../img/table-1.png) no-repeat;*/}

.right{ width:250px; height:270px; float:right; border:1px solid #999;  border-radius:5px;}
.right_title{ height:25px; position:relative;  background:url(../img/titlebg.png) repeat-x;
            border-top-left-radius:5px; border-top-right-radius:5px;
 }
.right_title span,.left_title span{ font-family:"宋体"; color:#06284A;font-size:14px; font-weight:700;
                   float:left;margin-left:10px;line-height:25px; }
.right_title a,.left_title a{ float:right;margin-right:15px;  color:#0A51A1; line-height:25px;}
.right_content{ width: 250px; }

/*新闻动态、项目招标*/
#news_ul,#pro_ul,.download_ul{ padding: 3px 0px;}
#news_ul li,#pro_ul li,.download_ul li{ margin-left:10px; margin-right:10px; margin-top:5px; height:20px; line-height:20px; font-size:13px;}
#news_ul li span,#pro_ul li span,.download_ul li span{ width:10px; height:10px; float:left;padding-right:8px; font-size:12px;}
#news_ul li a:hover,#pro_ul li a:hover,.download_ul li a:hover{color:blue;}
.download_ul li a{color: forestgreen;font-size:13px;}
.time {
    float: right;
    font-size: 12px;
    color: #000;
    font-weight: 100;
    line-height: 20px;
    margin-top: -20px;
}
.tl_p {
    margin: 0 70px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tl_p2 {
    margin: 0!important;
}
.dl_p {
    width: 370px;
}

/*图片轮播*/
#img_container { 
  width: 1024px;
  height: 303px; 
  border: 0; 
  overflow: hidden; 
  position: absolute;
  margin:52px auto;
  }
#list { 
  width:7728px; 
  height: 488px; 
  position: absolute; 
  z-index: 1;
  }
#list img {
  width: 1104px;
  height: 303px;
  float: left;
  }
#buttons { 
  position: absolute; 
  height: 10px; 
  width: 100px; 
  z-index: 2; 
  bottom: 25px; 
  left: 462px;
  }
#buttons span { 
  cursor: pointer; 
  float: left; 
  border: 1px solid #fff; 
  width: 10px; 
  height: 10px; 
  border-radius: 50%; 
  background: #333; 
  margin-right: 5px;
  }
#buttons .on { 
  background: orangered;
  }
.arrow { 
  cursor:pointer; 
  display: none; 
  line-height: 39px; 
  text-align: center; 
  font-size: 36px; 
  font-weight: bold; 
  width: 40px; 
  height: 40px;  
  position: absolute; 
  z-index: 2; 
  top: 131px; 
  background-color: RGBA(0,0,0,.3); 
  color: #fff;
  }
.arrow:hover { 
  background-color: RGBA(0,0,0,.7);
  text-decoration: none;
  }
#img_container:hover .arrow { 
  display: block;
  }
#prev { 
  left: 10px;
  }
#next { 
  right: 10px;
  }

/* 滚动样式*/
#demo, #demo2{
	height:230px;
	margin:10px 0 0 10px;
	color:blue;
	/*以下勿改*/
	overflow:hidden;
	position:relative;
}
#demo1, #demo21{
	overflow:hidden;
	zoom:1;
	position:absolute;
	
}
#demo1 ul, #demo21 ul{
	zoom:1;
	padding:0;
	margin:0 auto;
}
#demo1 ul li, #demo21 ul li{
	line-height:16px;
	margin-top:10px;
    overflow:hidden;
	font-size:13px;
	padding:0 5px 0 5px;
}
#demo1 ul li a{ color:blue;}
#demo1 ul li a:hover{ color:red;}
#demo21 ul li a{ color:forestgreen;}
#demo21 ul li a:hover{ color:red;}

/*图片切换*/
.dis{ width:400px; height:250px; position:relative; }
.dis ul{border-style: none;
    border-color: inherit;
    border-width: 0;
    position:relative;list-style:none;margin:0;padding:0; top: 0px;
    left: 0px;
}
.dis ul li{position:absolute;display:none;}
.dis ul li.selected{display:block;}
.dis .alp
{
    filter:alpha(opacity=50);opacity:0.5; background-color:#000;
    position:absolute;
    width:400px;
    height:30px;
    top:218px;
    left:0px;  
    z-index:10;
}
.dis dl {
	position:absolute;
	bottom:-3px;
	right:10px;
	z-index:11;
}
.dis dl dd{
	float:left;
	margin:0 0 0 5px;
	width:15px;
	height:15px;
	cursor:pointer;
	font:Arial;
	background-color:#FFFFFF;
	color:#1e75d6;
	font-size:12px;
	text-align:center;
	line-height:13px;
    border-radius:10px;
 
}
.dis dl dd.selected
{
    background-color:yellow;
    color: white;
    font-size: 13px;
    font-weight: bold;
}
.dis ul img {border:0;}
