.search {float: right;}
.search input, .search select {padding: 3px 5px; color: #555555; line-height: 24px; width: 220px;border: 1px #c8c8c8 solid;}
.search button{float: right; padding: 0 10px; line-height: 26px; margin-top: 6px;}
#page_number{width:50px; text-align:center;}
.sure_but{background: #F9F!important; border: 1px #E8E solid!important;}
.sure_but:hover{background:#f090f0!important;color:#f8f8f8;}
td {
    text-align: center;
}
html, body {
    height: 100%;
    margin: 0;
}
.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}
.header {
    flex: 0 1 auto;
}
.content0 {
    flex: 1 1 auto;
    flex-flow: row;

    display: flex;
}
.right {
    flex: 1 0 auto;
    border: none;
    min-height: 560px;
}
.left {
    flex: 0 0 150px;
}
.title_div {
    margin: 15px 0;
}
.title_div span {
    font-weight: bold;
    font-size: 15px;
}
#page_title {
    width: 500px;
}
.title_div input, .title_div select {
    padding: 2px 5px;
    width: 300px;
    color: #555555;
    line-height: 24px;
    border: 1px #c8c8c8 solid;
}
.add_act_tb {
    margin: 15px 0;
}
.add_act_tb td {
    padding: 10px;
}
.add_act_tb .left_td {
    width: 75px;
    text-align: right;
}
.add_act_tb .left_td2 {
    width: 90px;
    text-align: right;
}
#place, #name {
    width: 575px;
}
.add_act_tb input {
    width: 222px;
    padding: 5px;
}
.add_act_tb textarea {
    width: 680px;
    height: 250px;
}
.act_detail_tb {
    width: 700px;
}
.act_detail_tb td {
    border: black solid 1px;
}
.act_content_td {
    min-height: 300px;
    text-align: left;
    vertical-align: top;
    padding-top: 18px!important;
    padding-bottom: 50px!important;
}
.del_but {
    color: red;
}
.black_a {
    color: black;
}
.blue_a {
    color: #2446AB;
}

.com_time {
    margin-bottom: 7px;
}
.com_del {
    width: 40px;
}

#idx_pic_form {
    float: left;
}
#up_dix_img {
    width: 389px;
    height: 194px;
    border: #c8c8c8 solid 1px;
}
.idx_pic_div {
    width: 370px;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
}
.idx_pic_div h1 {
    margin-bottom: 0;
}
.idx_pic_div img {
    width: 360px;
    height: 180px;
    margin-top: 10px;
    border: #c8c8c8 solid 1px;
}
.title_div select {
    width: 312px;
}
.td_news_title {
    width: 500px;
}
